<%= form_for @post, :remote => true do |f| %>
<div class="form-lines">
  <p>Post Activity</p>
  <%= f.label :console %>
    <br>
    <%= f.select :console, [[nil],['Xbox One'],['PlayStation 4'],['Xbox 360'],['PlayStation 3']], :selected => nil %>
    <br>

    <%= f.label :gamertag %>
    <br>
    <%= f.text_field :gamertag, maxlength: "15", size: "20" %>
    <br>

    <%= f.label :game %>
    <br>
    <%= f.text_field :game, maxlength: "50", size: "20" %>
    <br>

    <%= f.label :description, "Activity Description" %>
    <br>
    <%= f.text_area :description, maxlength: "100", size: "18x4" %>
    <br>

    <div id="language-button">
      <%= f.label :language %>
      <br>
      <%= f.text_field :language, maxlength: "15", size: "20", :value => "Any Language" %>
      <br>
    </div>

      <%= f.label :microphone %>
      <br>
      <%= f.check_box :microphone %>
      <br>

    <%= f.submit "Post", id: 'submit-post'  %>
  </div>
<% end %>
