<div id="new-post">

  <p><% @posts.each do |post| %></p>
    <p><%= post.console %><p>
    <p><%= post.gamertag %></p>
    <p><%= post.game %></p>
    <p><%= post.description %></p>
    <p><%= post.language %></p>
    <p><%= post.microphone %></p>
  <% end %>


</div>
