<% @posts.reverse.each do |post| %>
  <div id='post-left'>
    <div id='gamertag'><%= post.gamertag %></div>
    <div id='langugae'><%= post.language %></div>
    <div id='microphone'><%= post.microphone %></div>
  </div>
  <div id='post-middle'>
    <div id='game'><%= post.game %></div>
    <div id='description'><%= post.description %></div>
  </div>
  <div id='cons'>
    <div id='console'><%= post.console %></div>
  </div><br>
<% end %>
