<div class="new-post">
  <div id='post-left'>
    <div id='gamertag'><%= post.gamertag %></div>
    <div id='langugae'><%= post.language %></div>
    <div id='microphone'><%= headset_img post %></div>
  </div>
  <div id='post-middle'>
    <div id='game'><%= post.game %></div>
    <div id='description'><p><%= post.description %></p></div>
  </div>
  <div id='cons'>
    <div id='console'><%= console_img post %></div>
    <div><%= post.console %></div>
  </div><br>
</div>
