$("#comments").append("<p><%= @post.console %></p>");
$("#comments").append("<p><%= @post.gamertag %></p>");
$("#comments").append("<p><%= @post.game %></p>");
$("#comments").append("<p><%= @post.description %></p>");
$("#comments").append("<p><%= @post.language %></p>");
$("#comments").append("<p><%= @post.microphone %></p>");
