<%= @post.each do |p| %>
  <tr>
    <td><%= p.console %></td>
    <td><%= p.gamertage %></td>
    <td><%= p.game %></td>
    <td><%= p.description %></td>
    <td><%= p.language %></td>
    <td><%= p.mic %></td>
  </tr>
  <% end %>
