<tr>
  <td><%= @post.console %></td>
  <td><%= @post.gamertag %></td>
  <td><%= @post.game %></td>
  <td><%= @post.description %></td>
  <td><%= @post.language %></td>
  <td><%= @post.microphone %></td>
</tr>
