<!DOCTYPE html>
<html>
<head>
  <title>Guiner | Connecting Gamers</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link type="text/css" rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" text="text/css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <%= link_to posts_path do %>
      <%= image_tag 'polyguin_logo.png' %>
    <% end %>
  </div>

  <%= yield %>

  <div class="back-button">
    <%= link_to "HOME", root_path %>
  </div>

<footer>
  <p>© 2016 polyguin.com</p>
</footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
</body>
</html>
