<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Polyguin | Connecting Gamers</title>
    <%= stylesheet_link_tag 'welcome' %>

  </head>
  <body>

    <video id="video" autoplay width="100%" data-playlist="/videos/playlist">
      <h1 id="hello">Hello</h1>
    </video>

    <div class="splash-logo">
    <%= link_to posts_path do %>
      <%= image_tag 'polyguin_logo_splash.png' %>
    <% end %>

      <div class="jump-in">
        <%= link_to 'Jump In', posts_path %>
      </div>
    </div>

  <%= javascript_include_tag 'welcome' %>

  </body>
</html>
